@import "../lib/font.scss";
@import "../lib/transition.scss";

.input-container {
  width: 180px;
  position: relative;

  &[data-disabled="true"] {
    opacity: 0.5;

    .input-search-icon {
      cursor: not-allowed;
    }
  }

  &:not([data-disabled="true"]) {
    &:hover .input-search-icon {
      color: var(--accent);
    }

    .input-search-icon:hover + input {
      color: var(--accent);
      border-color: var(--accent);
  
      &::placeholder {
        color: var(--accent);
      }
    }
  }

  &[data-iconPosition="left"] {
    .input {
      padding-left: 42px;
    }

    .input-search-icon {
      left: 14px;
    }
  }

  &[data-iconPosition="right"] {
    .input {
      padding-left: 14px;
    }

    .input-search-icon {
      right: 14px;
    }
  }
}

.input {
  width: 100%;
  height: 100%;

  @include Transition();

  @include Font(14px, 500, 16px);

  color: var(--white);
  padding: 10px 14px;
  border-radius: 4px;
  cursor: pointer;

  border: 1px solid var(--stroke);
  background: var(--black);

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    @include Font(14px, 500, 16px);
    @include Transition();
    color: var(--stroke);
  }

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus {
    border-color: var(--accent);
    
    &::placeholder {
      color: var(--accent);
    }
  }
}

.input-search-icon {
  position: absolute;

  @include Transition();

  top: 50%;
  cursor: pointer;

  transform: translateY(-50%);

  color: var(--stroke);

  svg {
    width: 20px;
    height: 20px;
  }

  &.focused {
    color: var(--accent);
  }
}
