@import "../lib/font.scss";
@import "../lib/transition.scss";

.input-container {
  width: calc(180px + 36px);
  position: relative;
  background: var(--background);
  border-radius: 4px;
  border: 1px solid var(--stroke);
  @include Transition();

  &[data-disabled="true"] {
    opacity: 0.5;

    & > div {
      cursor: not-allowed;
    }
  }

  &[data-disabled="false"] {
    &:hover {
      border-color: var(--accent);

      div {
        color: var(--accent);
      }

      input {
        border-color: var(--accent);
      }
    } 
  }

  &[data-iconposition="left"] {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input {
      padding-left: 0px;
      padding-right: 14px;
    }

    > div {
      left: 14px;
    }
  }

  &[data-iconposition="right"] {
    input {
      padding-left: 14px;
    }

    > div {
      right: 14px;
      padding-left: 2px;
    }
  }

  &-input {
    width: 80%;
    height: 100%;
  
    @include Transition();
  
    @include Font(14px, 500, 16px);
  
    color: var(--white);
    padding: 10px 0px 9px 14px;
    cursor: pointer;
  
    &:disabled {
      cursor: not-allowed;
    }
  
    &::placeholder {
      @include Font(14px, 500, 16px);
      color: var(--stroke);
    }
  
    &:hover, &:active, &:focus {
      border-color: var(--accent);
    }
  }

  &-search-icon {
    position: absolute;

    background: var(--black);
  
    @include Transition();
  
    top: 50%;
    cursor: pointer;
  
    transform: translateY(-50%);
  
    color: var(--stroke);
  
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &[data-focused="true"] {
    border-color: var(--accent);

    > div {
      color: var(--accent);
    }
  }
}
