@import "../lib/font.scss";
@import "../lib/transition.scss";

$filter: brightness(0.8);

.logo-icon {
  @include Transition();
  cursor: pointer; 

  &:hover {
    filter: $filter;
  }
}

.large-logo-container {
  display: flex;
  align-items: center;

  cursor: pointer;

  gap: 10px;

  &:hover {
    .logo-icon {
      filter: $filter;
    }

    .logo-heading {
      filter: $filter
    }
  }

  .logo-heading {
    @include Transition();
    @include Font(24px, 700, 28px);
    color: var(--white);
  }
}
