@import "../lib/font.scss";
@import "../lib/transition.scss";

$filter: brightness(0.8);

.logo-icon {
  @include Transition();
  cursor: pointer; 

  &:hover {
    filter: $filter;
  }
}

.large-logo-container {
  cursor: pointer;
  
  a {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  &:hover {
    .logo-icon {
      filter: $filter;
    }

    .logo-heading {
      filter: $filter
    }
  }

  .logo-heading {
    @include Transition();
    @include Font(24px, 700, 28px);
    color: var(--white);
  }
}
