@import "../lib/font.scss";
@import "../lib/transition.scss";

.link {
  @include Font(16px, 400, 18px);
  @include Transition();
  
  width: auto;

  cursor: pointer;
  color: var(--white);

  padding-bottom: 0px;

  &:hover, &:focus, &:active {
    color: var(--accent-light);
  }

  &:visited, &[data-visited=true] {
    color: var(--accent-dark);
    background-image: linear-gradient(var(--accent-dark), var(--accent-dark));
    background-size: 100% 1px;
  }
}
