@import "../lib/hooks/useMediaQuery.scss";

.newsletter {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: var(--background);

  &-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 18px;

    p {
      text-align: center;
      opacity: 0.8;
    }

    form {
      width: 100%;
      height: 44px;

      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;

      gap: 8px;

      .input-container, button {
        width: 100%;
        height: 100%;
      }

      input {
        width: calc(100% - 14px - 20px - 14px);
      }
    }
  }

  &-img {
    display: none;
  }

  @include useMediaQuery(laptop) {
    flex-direction: row;
    
    &-hero {
      width: 420px;
      gap: 32px;

      p {
        text-align: left;
      }

      form {
        .input-container {
          input {
            width: 84%;
          }
        }
      }
    }

    &-img {
      display: flex;
    }
  }
}
