@import "../../lib/font.scss";
@import "../../lib/transition.scss";
@import "../../lib/hooks/useMediaQuery.scss";

.blog-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 128px;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 32px;
    
    &-heading {
      &-sub {
        color: var(--accent);
      }

      &-main {
        text-align: center;
      }
    }

    &-buttons {
      width: 100%;
      display: flex;
      flex-direction: column;

      gap: 16px;

      > * button {
        height: 48px;
        padding: 8px 28px;
        width: 100%;
      }
    }
  }

  &-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-post {
      width: 100%;
      height: auto;

      gap: 16px;

      display: flex;
      flex-direction: column-reverse;

      &-image {
        width: 100%;
        height: 437px;
        border-radius: 6px;

        a {
          filter: brightness(0.8);
          @include Transition();

          &:hover, &:focus, &:active {
            filter: brightness(0.9);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 6px;
        }

        background: var(--stroke);
      }

      &-information {
        width: 100%;

        display: flex;
        flex-direction: column;

        gap: 16px;

        &-main {
          width: 100%;

          display: flex;
          align-items: center;
          flex-direction: column;

          align-items: flex-start;

          gap: 22px;

          a {
            h2 {
              display: inline;
              background-image: linear-gradient(var(--accent), var(--accent));
              background-size: 0% 3px;
              background-repeat: no-repeat;
              background-position: left bottom;
              transition: all 357ms ease-out;
            }

            &:hover h2, &:active h2, &:focus h2 {
              background-size: 100% 3px;
            }
          }

          &-tags {
            display: flex;
            align-items: center;
            gap: 4px;
          }

          &-description {
            overflow: hidden;

            &-normal {
              display: none;
            }

            &-small {
              display: block;
            }
          }
        }

        &-footer {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;

          p {
            cursor: text;
            @include Font(20px, 400, 24px);
            color: var(--white);
          }
        }
      }
    }
  }

  @include useMediaQuery(tablet) {
    &-header {
      width: 60%;

      &-buttons {
        width: max-content;
        flex-direction: row;
        align-items: center;

        > * button {
          width: max-content;
        }
      }
    }

    &-content {
      &-post {
        &-information {
          &-main {
            &-description {
              cursor: text;

              &-normal {
                display: block;
              }

              &-small {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  @include useMediaQuery(laptop) {
    &-content {
      &-post {
        height: 430px;

        gap: 0;

        flex-direction: row;

        &-information {
          width: 30%;
          height: 100%;
          justify-content: space-between;

          padding: 0 30px;


          gap: 0;

          &-main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 21px auto 1fr;

            &-description {
              overflow: hidden;
            }
          }
        }

        &-image {
          width: 70%;
          height: 100%;
        }
      }
    }
  }
}
