@import "../../lib/font.scss";

.blog-logo {
  display: flex;
  align-items: center;
  
  gap: 16px;

  cursor: pointer;

  &:hover {
    transition: all 200ms;
    filter: brightness(0.8);
  }

  &-heading {
    color: var(--white);
    @include Font(24px, 700, 28px);
  }
}
