@import "../../lib/hooks/useMediaQuery.scss";
@import "../../lib/font.scss";
@import "../../lib/transition.scss";

@mixin small {
  width: 270px;
  height: 400px;

  height: max-content;

  display: flex;
  flex-direction: column;

  > * {
    height: 50%;
  }

  .image {
    width: 100%;
    z-index: 5;
    
    a {
      filter: brightness(0.8);
      @include Transition();

      &:hover, &:focus, &:active {
        filter: brightness(0.9);
      }
    }
    
    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    background: var(--dark-blue);

    border-radius: 6px;
  }

  .information {
    margin-top: -6px;
    width: 100%;
    height: max-content;

    padding: 20px;

    border: 2px solid var(--stroke);
    border-top: 0px;

    border-radius: 0 0 6px 6px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    gap: 20px;

    .main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: 10px;

      .tags {
        display: none;
      }

      a {
        h2 {
          display: inline;
          background-image: linear-gradient(var(--accent), var(--accent));
          background-size: 0% 3px;
          background-repeat: no-repeat;
          background-position: left bottom;
          transition: all 357ms ease-out;
        }

        &:hover h2, &:active h2, &:focus h2 {
          background-size: 100% 3px;
        }
      }

      .type {
        &[data-size="medium"] {
          display: none;
        }

        strong {
          color: var(--accent);
          @include Font(15px, 700, 15px);
        }
      }

      .description {
        display: none;

        &[data-size="small"] {
          display: flex;
          p {
            filter: opacity(0.5);
            @include Font(14px, 400, 14px);
          }
        }
        
        &[data-size="medium"] {
          display: none;
        }
      }
    }

    .footer {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: 10px;

      footer {
        width: 100%;
      }

      ul {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      p {
        @include Font(16px, 600, 24px);
      }
    }
  }
}

@mixin medium {
  width: 100%;
  height: 450px;

  .image {
    height: 70%;
  }

  .information {
    height: 30%;
    border: none;
    padding: 20px 0;

    .main {
      gap: 12px;

      .type {
        &[data-size="small"] {
          display: none;
        }

        &[data-size="medium"] {
          display: flex;

          strong {
            span {
              color: var(--white);
            }
          }
        }
      }

      .description {
        p {
          filter: opacity(0.5);
          @include Font(18px, 400, 16px);
        }

        &[data-size="small"] {
          display: flex;
        }
        
        &[data-size="medium"] {
          display: none;
        }
      }
    }

    .footer {
      display: none;
    }
  }
}

@mixin large {
  flex-direction: row;
  align-items: flex-end;

  .image {
    width: 60%;
    height: 100%;
  }

  .information {
    margin-top: 0;
    width: 40%;
    height: 100%;

    padding: 0px 30px;

    .main {
      .tags {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .type {
        strong {
          @include Font(18px, 700, 18px);
        }

        &[data-size="small"] {
          display: flex;
        }

        &[data-size="medium"] {
          display: none;
        }
      }

      .description {
        &[data-size="small"] {
          display: none;
        }

        &[data-size="medium"] {
          display: flex;
        }
      }
    }

    .footer {
      display: flex;

      ul {
        display: none;
      }
    }
  }
}

.small.post {
  @include small();
}

.medium.post {
  @include small();
  @include medium();
}

.large.post {
  @include small();
  @include medium();
  @include large();
}

.post {
  @include small();

  @include useMediaQuery(tablet) {
    @include medium();
  }

  @include useMediaQuery(laptop) {
    @include large();
  }
}
